<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../_shared/_head', title); %>
</head>
<body>
    <div class="mainGrid">
        <header>
            <%- include('../_shared/_navigator', brand, navMenu); %>
        </header>
        <main>
            <!-- Body Start here -->
            <div class="container">
                <form action="<%=model.form.action%>" method="POST">
                    <% if(model.form.edit) { %>
                        <input name="DeviceID" type="hidden" value="<%=model.DeviceID%>" />
                    <% } %>
                    <label for="Name" class="form-label">Name</label>
                    <input id="Name" class="form-control" type="text" placeholder="Name" name="Name" value="<%=model.Name%>" />
                    <label for="RemoteAddress" class="form-label mt-2">Remote Address</label>
                    <input id="RemoteAddress" class="form-control" type="text" placeholder="Host/IP Address" name="RemoteAddress" value="<%=model.RemoteAddress%>" />
                    <label for="RemotePort" class="form-label mt-2">Remote Port</label>
                    <input id="RemotePort" class="form-control" type="text" placeholder="Port" name="RemotePort" value="<%=model.RemotePort%>" />
                    <% if (model.errors) { model.errors.forEach(function(error) { %>
                                <div class="form-text text-danger"><%=error.msg%></div>
                    <%  }); } %>
                    <hr />
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="/devices" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
            <!-- Body End here -->
        </main>
        <footer>
            <%- include('../_shared/_footer'); %>
        </footer>
    </div>
    <%- include('../_shared/_scripts'); %>
</body>
</html>
