<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../_shared/_head', title); %>
</head>
<body>
    <div class="mainGrid">
        <header>
            <%- include('../_shared/_navigator', brand, navMenu); %>
        </header>
        <main>
            <!-- Body Start here -->
            <div class="tableContainer">
                <table class="table table-striped indexTable">
                    <colgroup>
                        <col style="width:10px;" />
                        <col style="width:78%;" />
                        <col style="width:10%;" />
                        <col style="width:10%;" />
                    </colgroup>
                    <thead>
                        <tr>
                            <td colspan="4">
                                <a href="/users/new" class="linkButton">New</a>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Username</th>
                            <th>Tasks</th>
                            <th>Open Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(function(usr) { %>
                            <tr>
                                <td><div class="colorIcon" style="background-color: <%= usr.Color %>;"></div></td>
                                <td><a href="/users/details/<%= usr.UserID %>"><%= usr.Username %></a></td>
                                <td></td>
                                <td></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <!-- Body End here -->
        </main>
        <footer>
            <%- include('../_shared/_footer'); %>
        </footer>
    </div>
    <%- include('../_shared/_scripts'); %>
</body>
</html>
