<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../_shared/_head', title); %>
</head>
<body>
    <div class="mainGrid">
        <header>
            <%- include('../_shared/_navigator', brand, navMenu); %>
        </header>
        <main>
            <!-- Body Start here -->
            <div class="container">
                <h3>Process</h3>
                <form action="<%=model.form.action%>" method="POST">
                    <% if(model.form.edit) { %>
                        <input name="ProcessID" type="hidden" value="<%=model.ProcessID%>" />
                        <input name="TaskID" type="hidden" value="<%=model.TaskID%>" />
                    <% } %>
                    <!-- ProcessID, TaskID, ProcessSerial, ProcessType, Name, Pin, PinType, ThresholdLow, ThresholdHigh, SerialOutRawData, TrueProcessID, TrueLoopIfNull, FalseProcessID, FalseLoopIfNull -->
                    <div class="card">
                        <div class="card-header bg-primary text-bg-primary">Process</div>
                        <div class="card-body row">
                            <div class="col-md-2">
                                <label class="form-label" for="ProcessSerial">Serial</label>
                                <input class="form-control" id="ProcessSerial" name="ProcessSerial" type="text" placeholder="Serial" value="<%=model.ProcessSerial%>" />
                            </div>
                            <div class="col-md-7 mt-3 mt-md-0">
                                <label class="form-label" for="Name">Name</label>
                                <input class="form-control" id="Name" name="Name" type="text" placeholder="Name" value="<%=model.Name%>" />
                            </div>
                            <div class="col-md-3 mt-3 mt-md-0">
                                <label class="form-label" for="ProcessType">Type</label>
                                <select class="form-select" id="ProcessType" name="ProcessType" value="<%=model.ProcessType%>">
                                    <option value="">{Select a type}</option>
                                    <option value="0">Status</option>
                                    <option value="1">Action</option>
                                    <option value="2">Record</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <div class="card-header bg-success text-bg-success">Pin</div>
                        <div class="card-body row align-items-end">
                            <div class="col-md-2">
                                <label class="form-label" for="Pin">GPIO #</label>
                                <select class="form-select" id="Pin" name="Pin" 
                                        data-item-values="26,27,28"
                                        data-item-id="AnalogEntry"
                                        onchange="OnChangeDisplay(this, 'd-none')"
                                        value="<%=model.Pin%>">
                                    <option value="">{Select a pin #}</option>
                                    <option value="0">GP0</option>
                                    <option value="1">GP1</option>
                                    <option value="2">GP2</option>
                                    <option value="3">GP3</option>
                                    <option value="4">GP4</option>
                                    <option value="5">GP5</option>
                                    <option value="6">GP6</option>
                                    <option value="7">GP7</option>
                                    <option value="8">GP8</option>
                                    <option value="9">GP9</option>
                                    <option value="10">GP10</option>
                                    <option value="11">GP11</option>
                                    <option value="12">GP12</option>
                                    <option value="13">GP13</option>
                                    <option value="14">GP14</option>
                                    <option value="15">GP15</option>
                                    <option value="16">GP16</option>
                                    <option value="17">GP17</option>
                                    <option value="18">GP18</option>
                                    <option value="19">GP19</option>
                                    <option value="20">GP20</option>
                                    <option value="21">GP21</option>
                                    <option value="22">GP22</option>
                                    <option value="26">GP26 - (Analog)</option>
                                    <option value="27">GP27 - (Analog)</option>
                                    <option value="28">GP28 - (Analog)</option>
                                </select>
                            </div>
                            <div class="col-md-5 mt-3 mt-md-0">
                                <label class="form-label" for="PinType">Type</label>
                                <select class="form-select" id="PinType" name="PinType" 
                                        value="<%=model.PinType%>"
                                        data-item-values="2"
                                        data-item-id="LogicType"
                                        onchange="OnChangeDisplay(this, 'd-none')">>
                                    <option value="">{Select a type}</option>
                                    <option class="d-none" id="AnalogEntry" value="0">Analog</option>
                                    <option value="1">Pulse width modulation</option>
                                    <option value="2">Logical</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div class="form-check form-switch mt-3">
                                    <input class="form-check-input" id="SerialOutRawData" name="SerialOutRawData" type="checkbox" <% if(model.SerialOutRawData) {%>checked<%}%> />
                                    <label class="form-check-label" for="SerialOutRawData">Debug Print</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-check form-switch mt-3">
                                    <input class="form-check-input" id="BroadcastValue" name="BroadcastValue" type="checkbox" <% if(model.BroadcastValue) {%>checked<%}%> />
                                    <label class="form-check-label" for="BroadcastValue">Broadcast Value</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2" id="Threshold">
                        <div class="card-header bg-warning text-bg-warning">
                            <span class="card-title">Threshold</span>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-end">
                                <div class="col-md-4">
                                    <label class="form-label" for="ThresholdLow">Low</label>
                                    <input class="form-control" id="ThresholdLow" name="ThresholdLow" type="text" placeholder="Low" value="<%=model.ThresholdLow%>" />
                                </div>
                                <div class="col-md-4 mt-3 mt-md-0">
                                    <label class="form-label" for="ThresholdHigh">High</label>
                                    <input class="form-control" id="ThresholdHigh" name="ThresholdHigh" type="text" placeholder="High" value="<%=model.ThresholdHigh%>" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card bg-success text-bg-success">
                                        <div class="card-body">
                                            <label class="form-label" for="TrueProcessType">Within the threshold</label>
                                            <select class="form-select" id="TrueProcessType" 
                                                        name="TrueProcessType" 
                                                        value="<%=model.TrueProcessType%>"
                                                        data-item-values="2"
                                                        data-item-id="TrueProcessSerialObject"
                                                        onchange="OnChangeDisplay(this, 'd-none')">
                                                <option value="0">Loop</option>
                                                <option value="1">Next Process</option>
                                                <option value="2">Go to Process Serial</option>
                                                <option value="3">Exit</option>
                                            </select>
                                            <div class="mt-2 d-none" id="TrueProcessSerialObject">
                                                <label class="form-label" for="TrueProcessID">Process Serial</label>
                                                <input class="form-control" id="TrueProcessID" name="TrueProcessID" placeholder="Process Serial" value="<%=model.TrueProcessID%>" />
                                            </div>
                                            <div class="mt-2">
                                                <label class="form-label" for="TrueDebugMessage">Debug Message</label>
                                                <input class="form-control" id="TrueDebugMessage" name="TrueDebugMessage" placeholder="Debug Message" value="<%=model.TrueDebugMessage%>" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card bg-danger text-bg-danger mt-3 mt-md-0">
                                        <div class="card-body">
                                            <label class="form-label" for="FalseProcessType">Out of the threshold</label>
                                            <select class="form-select" id="FalseProcessType" 
                                                        name="FalseProcessType" 
                                                        value="<%=model.FalseProcessType%>"
                                                        data-item-values="2"
                                                        data-item-id="FalseProcessSerialObject"
                                                        onchange="OnChangeDisplay(this, 'd-none')">
                                                <option value="0">Loop</option>
                                                <option value="1">Next Process</option>
                                                <option value="2">Go to Process Serial</option>
                                                <option value="3">Exit</option>
                                            </select>
                                            <div class="mt-2 d-none" id="FalseProcessSerialObject">
                                                <label class="form-label" for="FalseProcessID">Process Serial</label>
                                                <input class="form-control" id="FalseProcessID" name="FalseProcessID" placeholder="Process Serial" value="<%=model.FalseProcessID%>" />
                                            </div>
                                            <div class="mt-2">
                                                <label class="form-label" for="FalseDebugMessage">Debug Message</label>
                                                <input class="form-control" id="FalseDebugMessage" name="FalseDebugMessage" placeholder="Debug Message" value="<%=model.FalseDebugMessage%>" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2 d-none" id="LogicType">
                        <div class="card-header bg-secondary text-bg-secondary">
                            <span class="card-title">Execution</span>
                        </div>
                        <div class="card-body row align-items-end">
                            <div class="col-md-2" id="ActionTypeLogic">
                                <label class="form-label" for="ActionType">Action</label>
                                <select class="form-select" id="ActionType" name="ActionType" value="<%=model.ActionType%>">
                                    <option value="false">Turn Off</option>
                                    <option value="true">Turn On</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <% if (model.errors) { %>
                        <div class="form-text fs-4 text-danger">
                            <ul>
                            <% model.errors.forEach(function(error) { %>
                                <li><%=error.msg%></li>
                            <% }); %>
                            </ul>
                        </div>
                    <% } %>
                    <hr />
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="/tasks/details/<%=model.TaskID%>" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
            <!-- Body End here -->
        </main>
        <footer>
            <%- include('../_shared/_footer'); %>
        </footer>
    </div>
    <%- include('../_shared/_scripts'); %>
    <script>
        selectOption('ProcessType', <%=model.ProcessType%>);
        selectOption('Pin', <%=model.Pin%>);
        selectOption('PinType', <%=model.PinType%>);
        selectOption('TrueProcessType', <%=model.TrueProcessType%>);
        selectOption('FalseProcessType', <%=model.FalseProcessType%>);
        selectOption('ActionType', <%=model.ActionType%>);
    </script>
</body>
</html>